*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    border-radius: 20px;
    text-align: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 55px;
    color: black;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgba(2, 114, 35, 0.658);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.788);
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: rgba(2, 114, 35, 0.658);
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: center
}

.btn-field button{
    flex-basis: 48%;
    background-color: rgba(2, 114, 35, 0.658);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    position: relative;
    top: 15px;
}

button:hover{
    background-color: rgba(2, 114, 35, 0.658);
}

button a {
    color: white;
    text-decoration: none;
}

.input-group{
    height: 175px;
}