* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

body {
    background-color: #e7dddd;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    margin-left: 0; 
    padding: 20px;
    background-color: #e7dddd;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item img {
    width: 90px;
    margin-right: 10px; 
}

.cart-item .product-info {
    flex: 1; 
}

.cart-item .priceDiv {
    font-weight: bold; 
}

.cart-item .fa-trash {
    color: #ff0000;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}


#total {
    text-align: center;
    width: 100%
}

#paymentSelect {
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 40px;
}

#checkoutButton {
    border-radius: 20px;
    text-align: center;
    height: 40px;
    width: 150px;
    background-color:#2e7d32d8;
    color: #ffff;
}

#checkoutButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    position: fixed;
    right: 0;
    left: auto;
    margin-right: 8px;
    border-radius: 18px 0px 0px 18px;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
    margin-left: 8px;
}

#sidebar-content {
    padding: 10px;
}

#side-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item.active {
    background-color: #2e7d32d8;
}

.side-item {
    padding: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.side-item:hover:not(.active), #logout-btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0a0a0a;
    justify-content: center;
}

.side-item.active a {
    color: #e3e9f7;
}

#content {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 20px;
}

#infos {
    display: flex;
    flex-direction: column;
}

#infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout-btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: black;
}

#logout-btn a {
    text-decoration: none;
    color: black;
}

#open-btn {
    position: absolute;
    top: 25px;
    right: -15px;
    background-color: #2e7d32d8;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#open-btn-icon {
    transition: transform .3s ease;
}

.open-sidebar #open-btn-icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
